body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTptDddyBZG4i4cycd6ZIBP2wT8PQKhihUqenZF7GpzlvTZuPghGQ");
}
.back{
    color: antiquewhite;
    text-align: center;
}
nav {
    display: inline-block;
    background-color: rgb(208, 228, 228);
     
}
a{
    flex-direction:row;
    justify-content:space-between;
    padding-left:170px;
    color:royalblue;
    text-decoration: none;
}