nav {
    display: inline-block;
    background-color: rgb(94, 124, 124);
     
}
a{
    flex-direction:row;
    justify-content:space-between;
    padding-left:170px;
    color:royalblue;
    text-decoration: none;
}
footer{
    font-size:24px;
    text-shadow:2px 2px 5px blue;
    box-shadow:2px 1px 3px rgb(48, 20, 20);
    padding:10px;
    background-color:rgb(143, 118, 122);
    color:white;
}