h1{
font-family:Georgia, 'Times New Roman', Times, serif;
float:right;
padding-right: 30%;
background-image: url("https://ksassets.timeincuk.net/wp/uploads/sites/54/2017/09/124A8195-1024x683.jpg");
background-repeat: no-repeat;
background-size: cover;
}
img{
    padding-left:2%;
    margin-top: -5%;
    height: 10%;
    width: 20%;
}
nav {
    display: inline-block;
    background-color:burlywood;
     
}
a {
    flex-direction:row;
    justify-content:space-between;
    padding-left:170px;
    color:royalblue;
    text-decoration: none;
}
.para{
    height:200px;
    width: 400px;
    padding-left: 2%;
    border: 2px solid black;
    background-color: cadetblue;
}
.para >p{
    float:left;
    font-family:sans-serif;
    padding-left: 1%;
   
    
}
.image{
    height:200px;
    width: 400px;
    border: 2px solid black;
    float:right;
}
div >img{
    height: 300px;
    width: 500px;
    float: center;
}
footer{
    font-size:24px;
    text-shadow:2px 2px 5px blue;
    box-shadow:2px 1px 3px rgb(48, 20, 20);
    padding:10px;
    background-color:rgb(43, 13, 18);
    color:white;
}
body{
    background-color: rgb(178, 217, 236);
}